.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.cardBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cardGrid {
  text-align: center;
}

.bannerBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.filterBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}