.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.bannerBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.filterBox {
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cardGrid {
  display: grid;
  width: 100%;
  max-width: 1200px;
  justify-content: center;
  gap: 20px;
  padding: 0 20px;
  box-sizing: border-box;
  margin: 0 auto;
}

/* android */
@media (min-width: 0px) {
  .cardGrid {
    grid-template-columns: repeat(auto-fill, minmax(298px, 1fr));
  }

  .bannerBox {
    margin-bottom: 0.5rem;
  }
}

/* iphone */
@media (min-width: 430px) {
  .cardGrid {
    grid-template-columns: repeat(auto-fill, minmax(356px, 1fr));
  }

  .bannerBox {
    margin-bottom: 1rem;
  }
}

/* tablet */
@media (min-width: 834px) {
  .cardGrid {
    grid-template-columns: repeat(auto-fill, minmax(268px, 1fr));
  }

  .bannerBox {
    margin-bottom: 2rem;
  }
}

/* laptop */
@media (min-width: 1024px) {
  .cardGrid {
    grid-template-columns: repeat(auto-fill, minmax(368px, 1fr));
    gap: 24px;
  }

  .bannerBox {
    margin-bottom: 3.5rem;
  }
}