.cardContent {
    text-align: left !important;
    color: #000000 !important;
    padding: 16px !important;
}

.productCard {
    max-width: 100% !important;
    box-shadow: none !important;
    border: 1px solid #E0E0E0 !important;
    cursor: pointer;
}

.productCard:hover {
    box-shadow: 5px 5px 5px -3px rgba(0, 0, 0, 0.20) !important;
}

.productName {
    margin-bottom: 0.8rem !important;
}

.cardMedia {
    object-fit: contain !important;
}

.quantityBox {
    display: flex !important;
    justify-content: left !important;
    align-items: center !important;
    margin: 1rem 0 0.5rem !important;
    width: 100%;
}

.productType {
    text-transform: capitalize !important;
}

.productName,
.productType,
.productPrice,
.pricePerKilo {
    line-height: 1.2;
}

.alert {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 2000 !important;
    width: 320px;
    height: 68px;
    font-size: 14px;
    border-radius: 8px;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 6px, 16px, 6px, 16px;
}

/* android/XS */
@media (min-width: 0px) {
    .productCard {
        width: 298px !important;
        height: 492px !important;
    }

    .cardMedia {
        height: 298px !important;
        width: 298px !important;
    }

    .productType {
        font-size: 16px !important;
    }

    .productName {
        font-weight: 500 !important;
        font-size: 16px !important;
    }

    .productPrice {
        font-size: 16px !important;
    }

    .pricePerKilo {
        font-size: 14px !important;
    }
}

/* iphone/S */
@media (min-width: 430px) {
    .productCard {
        width: 356px !important;
        height: 550px !important;
    }

    .cardMedia {
        height: 356px !important;
        width: 356px !important;
    }

    .productType {
        font-size: 16px !important;
    }

    .productName {
        font-weight: 500 !important;
        font-size: 16px !important;
    }

    .productPrice {
        font-size: 16px !important;
    }

    .pricePerKilo {
        font-size: 14px !important;
    }
}

/* tablet/M */
@media (min-width: 834px) {
    .productCard {
        width: 268px !important;
        height: 486px !important;
    }

    .cardMedia {
        height: 268px !important;
        width: 268px !important;
    }

    .productType {
        font-size: 16px !important;
    }

    .productName {
        font-weight: 400 !important;
        font-size: 24px !important;
    }

    .productPrice {
        font-size: 20px !important;
    }

    .pricePerKilo {
        font-size: 16px !important;
    }
}

/* laptop/L */
@media (min-width: 1194px) {
    .productCard {
        width: 368px !important;
        height: 594px !important;
    }

    .cardMedia {
        height: 368px !important;
        width: 368px !important;
    }

    .productType {
        font-size: 16px !important;
    }

    .productName {
        font-weight: 400 !important;
        font-size: 24px !important;
    }

    .productPrice {
        font-size: 20px !important;
    }

    .pricePerKilo {
        font-size: 16px !important;
    }
}