.shopping-cart {
  background-color: var(--main-bg-color);
  padding: 40px 15px;
}

.cols {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  gap: 25px;
}

.col {
  background-color: #FFF;
  padding: 40px;
}

.left-col {
  flex: 70%;
}

.right-col {
  flex: 30%;
}

.back-btn {
  padding-top: 50px;  
  padding-left: 20px;
  padding-bottom: 20px;
}

@media (max-width: 833px) {
  .cols {
    flex-direction: column;
    align-items: stretch;
  }
}

@media (max-width: 720px) {
  .shopping-cart {
    background-color: #FFF;
  }

  .col {
    padding: 40px 10px;
  }
}