.cart-item {
  display: flex;
  margin-top: 2.5rem;
}

.kilo-price {
  font-size: 14px;
  font-weight: bold;
}

.cart-item > * {
  flex: 1;
  white-space: nowrap;
  gap: 1rem;
}

.cart-item img {
  width: 88px;
  height: 88px;
  object-fit: contain;
}

.flex {
  display: flex;
}

.flex2 {
  display: flex;
  justify-content: space-between;
}

.flex3 {
  display: flex;
  align-items: flex-start;
  padding-right: 20px;
}

.line-number {
  font-family: var(--titleFontFamily);
  font-weight: var(--font-weight-bold);
  font-size: 24px;
}

.product {
  padding-right: 16px;
}

.type {
  text-transform: capitalize;
  font-weight: 500;
  font-family: var(--subTittleFontFamily);
  font-size: 14px;
  padding: 8px 0;
}

.name {
  font-weight: 400;
  font-family: var(--subTittleFontFamily);
  font-size: 16px;
}

.quantity {
  padding: 12px 10px 6px 10px;
}

.price {
  padding-top: 6px;
}

.mob-price {
  padding: 8px 0;
}

.delete {
  padding-top: 10px;
}

.quantity, .price {
  font-family: var(--subTittleFontFamily);
  font-size: 20px;
}

.button-size {
  font-size: 10px;
}

.hide {
  display: flex;
}

.show {
  display: none;
}

@media (max-width: 720px) {
  .cart-item {
    flex-direction: column;
  }

  .cart-item img {
    width: 110px;
    height: 110px;
  }

  .flex {
    flex-direction: column;
  }

  .flex4 {
    display: flex;
    justify-content: space-around;
    max-width: 400px;
 }

  .show {
    display: flex;
  }

  .hide {
    display: none;
  }
}