.cart-item {
  display: flex;
  margin-top: 2.5rem;
  /* border: 1px solid var(--main-bg-color); */
}

.cart-item > * {
  flex: 1;
  white-space: nowrap;
  gap: 1rem;
}

.flex {
  display: flex;
}

.flex2 {
  display: flex;
  justify-content: space-between;
}

.flex3 {
  display: flex;
  align-items: flex-start;
  padding-right: 30px;
}

.line-number {
  font-family: var(--titleFontFamily);
  font-weight: var(--font-weight-bold);
  font-size: 24px;
}

.product {
  padding-right: 16px;
}

.type {
  text-transform: capitalize;
  font-weight: 500;
  font-family: var(--subTittleFontFamily);
  font-size: 14px;
  padding: 8px 0;
}

.name {
  font-weight: 400;
  font-family: var(--subTittleFontFamily);
  font-size: 16px;
}

.quantity {
  padding-top: 34px;
}

.price {
  padding-top: 6px;
}

.delete {
  padding-top: 10px;
}

.quantity, .price {
  font-family: var(--subTittleFontFamily);
  font-size: 20px;
}

.button-size {
  font-size: 10px;
}
