.minusButton {
    background-color: white;
    color: rgb(116, 112, 112);
    border-radius: 50%;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.347);
    border: none;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
}

.minusButton:hover {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.475);
    background-color: rgb(244, 243, 243);
}