.footer {
  position: absolute;
  left: 0;
  width: 100vw;
  height: 361px;
  background-color: #000000;
  color: white;
  padding: 60px;
  box-sizing: border-box;
}

.allColumns {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 3rem;
  width: 100%;
}

.logo {
  align-self: flex-start;
  width: 160.92px;
  height: 40px;
}

.columns {
  margin: 0 0 0 4rem;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  margin: 0 32px;
  font-size: 16px !important;
  font-family: var(--subTittleFontFamily);
}

.footerSubTitle,
.column a {
  display: block;
  margin-bottom: 24px;
  font-weight: 400 !important;
  text-decoration: none;
  color: #ffffff;
}

.footerTitle {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 20px;
  font-family: var(--titleFontFamily);
}

/* mobile */
@media (max-width: 834px) {
  .footer {
    height: 312px;
    padding: 30px;
  }

  .allColumns {
    margin-left: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .columns {
    margin: 20px 0 0 0;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .column {
    margin-left: 0;
    margin-bottom: 0;
  }

  .footerTitle {
    font-size: 24px;
  }
}