.overlayScreenDetails {
  display: flex;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.9);
  flex-grow: 1;
}

.screenDetails {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: black;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 1100;
  color: white;
  font-family: var(--subTittleFontFamily);
}

.nameProduct {
  font-size: 60px !important;
  margin-bottom: 16px !important;
  font-weight: 300;
  text-align: left;
}

.cardContent {
  margin: 20px 0;
  font-size: 16px;
  font-weight: 400;
  background-color: black;
  color: white;
}

.type {
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.priceInfo {
  font-size: 48px !important;
  margin: 8px 0;
  text-align: left;
}

.closeIconBox {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 10px 10px 0 0;
}

.closeIcon {
  color: white;
}

.quantityBoxDetails {
  display: flex !important;
  justify-content: left !important;
  align-items: center !important;
  margin: 2rem 0 0.5rem !important;
}

.minusButton {
  margin-right: 1rem !important;
}

.plusButton {
  margin-left: 1rem !important;
}

/* desktop and laptop */
@media (min-width: 1195px) {
  .screenDetails {
    max-width: 1284px;
    max-height: auto;
  }

  .nameProduct {
    font-size: 60px !important;
  }

  .priceInfo {
    font-size: 48px !important;
  }

  .productImage {
    margin: 40px;
    width: 400px;
    height: 400px;
  }

  .quantityBoxDetails {
    width: 45%;
  }
}

/* tablet */
@media (min-width: 834px) and (max-width: 1194px) {
  .nameProduct {
    font-size: 50px !important;
  }

  .priceInfo {
    font-size: 50px !important;
  }

  .productImage {
    margin: 40px;
    max-width: 228px;
    max-height: 228px;
  }

  .cardDetails {
    padding-right: 16px;
  }

  .screenDetails {
    max-width: 850px;
    max-height: auto;
  }

  .quantityBoxDetails {
    width: 60%;
  }
}

/* iphone */
@media (min-width: 430px) and (max-width: 833px) {
  .screenDetails {
    max-width: 356px;
    max-height: auto;
    padding: 10px !important;
  }

  .cardContent {
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px !important;
  }

  .priceInfo {
    font-size: 24px !important;
    text-align: left;
  }

  .productImage {
    max-width: 308px;
    max-height: 308px;
    margin: 0;
    align-self: center;
  }

  .nameProduct {
    font-size: 24px !important;
    text-align: left;
    margin-left: 20px;
  }

  .cardDetails {
    font-size: 14px;
  }

  .type {
    margin-left: 20px;
    font-size: 16px;
  }

  .quantityBoxDetails {
    width: 100%;
    margin: 1rem 0 0 0 !important;
  }
}

/* android */
@media (max-width: 429px) {
  .screenDetails {
    max-width: 298px;
    height: auto !important;
    padding: 10px !important;
  }

  .cardContent {
    margin-left: 10px;
    margin-top: 0;
    padding-bottom: 0 !important;
  }

  .nameProduct {
    font-size: 24px !important;
    margin-left: 20px;
  }

  .type {
    margin-left: 20px;
    font-size: 16px;
  }

  .priceInfo {
    font-size: 25px !important;
    text-align: left;
  }

  .priceUnit {
    font-size: 14px;
  }

  .productImage {
    max-width: 250px;
    max-height: 250px;
    margin: 0;
    align-self: center;
  }

  .cardDetails {
    font-size: 14px;
  }

  .quantityBoxDetails {
    width: 100%;
    margin: 1rem 0 0 0 !important;
  }
}