.bannerContainer {
    position: relative;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bannerVideo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    object-fit: cover;
    filter: brightness(0.6);
    z-index: 1;
}

.bannerText {
    position: absolute;
    top: 25%;
    color: white;
    font-size: 64px !important;
    font-weight: 500 !important;
    text-align: center;
    font-family: var(--titleFontFamily);
    z-index: 2;
    white-space: normal;
}

/* android */
@media (min-width: 0px) {
    .bannerContainer {
        width: 100%;
        height: 300px;
    }

    .bannerVideo {
        height: 300px;
    }

    .bannerText {
        top: 35%;
        width: 260px;
        font-size: 24px !important;
    }
}

/* iphone */
@media (min-width: 430px) {
    .bannerContainer {
        width: 100%;
        height: 350px;
    }

    .bannerVideo {
        height: 350px;
    }

    .bannerText {
        top: 33%;
        width: 350px;
        font-size: 30px !important;
    }
}

/* tablet */
@media (min-width: 834px) {
    .bannerContainer {
        width: 100%;
        height: 400px;
    }

    .bannerVideo {
        height: 400px;
    }

    .bannerText {
        top: 25%;
        width: 528px;
        font-size: 48px !important;
    }
}

/* laptop */
@media (min-width: 1194px) {
    .bannerContainer {
        width: 100%;
        height: 450px;
    }

    .bannerVideo {
        height: 450px;
    }

    .bannerText {
        width: 712px;
        font-size: 64px !important;
    }
}