.flex {
  display: flex;
  justify-content: space-between;
}

.total-container {
  padding-bottom: 50px;
  white-space: nowrap;
}

.total-container .child {
  padding: 12px 0;
  font-family: var(--subTittleFontFamily);
  font-size: 16px;
  font-weight: 400;
}

.total > p {
  font-weight: var(--titleFontWeight);
  font-size: 20px;
}

.line {
  border-bottom: 1px solid #000;
}

.title {
  font-family: var(--titleFontFamily);
  font-weight: var(--titleFontWeight);
  font-size: 24px;
  padding-bottom: 10px;
  font-weight: 400;
  white-space: nowrap;
}

.light {
  opacity: 0.6;
}

.form {
  margin-top: 20px;
  padding-top: 50px;
  font-family: var(--titleFontFamily);
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
}

.form > div {
  margin-bottom: 20px;
}

.info-text {
  margin-top: 20px;
}

@media (max-width: 720px) {
  .total-container {
    padding-bottom: 0;
  }
}